.loginScreen{
    position: relative;
    height: 100%;
    background: url('https://i.pinimg.com/originals/e1/04/1d/e1041d86742d7f0625d2d78c2bc7a713.png') center no-repeat;
    background-size: cover;
}

.loginScreen__body > h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}

.loginScreen__body >h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginScreen__body >h3{
    font-size: 1.3rem;
    font-weight: 400;
}

.loginScreen__body{
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1; /*so it would be at the top*/
    color: #fff;
    padding: 20px;
    left: 0;
    right: 0;
}

.loginScreen__gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}

.loginScreen__button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px; /*20 on the sides and 10 on top&buttom*/
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: none;
    cursor: pointer;

}

.loginScreen__logo{
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
}

.loginScreen__input > form > input{
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}
 .loginScreen__getStarted{
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    font-weight: 600;
    cursor: pointer;
 }